body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cream);
  font-family: "Montserrat", sans-serif;
}

main {
  margin: 28px 16px;
  background-color: var(--white);
  border-radius: 1rem;
  overflow: hidden;
}

section {
  padding: 24px;
}

.product-type {
  text-transform: uppercase;
  color: var(--dark-grayish-blue);
  font-size: calc(12rem / 16);
  letter-spacing: calc(5rem / 16);
}

h1 {
  font-family: "Fraunces", serif;
  font-size: calc(32rem / 16);
  color: var(--very-dark-blue);
  margin: 12px 0 16px 0;
  font-weight: 700;
  line-height: 1;
}

.product-description {
  color: var(--dark-grayish-blue);
  font-size: calc(14rem / 16);
}

.price {
  display: flex;
  align-items: center;
  margin: 24px 0 20px 0;
}

.price p {
  color: var(--dark-cyan);
  font-family: "Fraunces", serif;
  font-size: calc(32rem / 16);
  margin-inline-end: calc(20rem / 16);
}

del {
  color: var(--dark-grayish-blue);
  font-size: calc(13rem / 16);
}

button {
  border: none;
  border-radius: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-cyan);
  color: var(--white);
  font-size: calc(14rem / 16);
  padding: 15px;
  cursor: pointer;
}

button img {
  width: calc(14.5rem / 16);
  margin-inline-end: 11.5px;
}

@media (min-width: calc(600rem / 16 + 32px)) {
  main {
    display: flex;
    max-width: calc(600rem / 16);
  }

  main > * {
    flex-basis: 50%;
  }

  section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media (pointer: fine) {
  button:hover {
    background-color: var(--deep-cyan);
  }
}

:root {
  --dark-cyan: hsl(158, 36%, 37%);
  --deep-cyan: #1a4032;
  --cream: hsl(30, 38%, 92%);
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}
